<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redis Chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/redis-icon.png" type="image/png">
	<link rel="stylesheet" href="/styles/chat_styles.css">
</head>
<body>
    <div id="chat-container">
        <h1>
			<img src="/images/redis-icon.png" alt="Redis Icon" class="icon">
			Redis Chat
		</h1>

        <div id="messages-container">
            <div id="messages"></div>
        </div>

        <div id="input-container">
            <input id="message" type="text" name="message" placeholder="Message" />
            <button onclick="emitData()">Send</button>
        </div>
        <div id="joined"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
       	const socket = io("http://localhost:3000");

        function emitData() {
            const message = document.querySelector("#message").value;
            if (message.length > 0) {
                socket.emit("message", { message, from: "<%= username %>" });
                document.querySelector("#message").value = ''; // Clear the input after sending
            }
        }

        function handleKeyPress(event) {
            if (event.key === "Enter") {
                emitData();
            }
        }

        document.getElementById("message").addEventListener("keydown", handleKeyPress);

        socket.on("message", ({ from, message }) => {
            const messageElement = document.createElement("div");
            messageElement.classList.add("message");

            const usernameElement = document.createElement("span");
            usernameElement.classList.add("username");
            usernameElement.innerText = `${from}: `;
            messageElement.appendChild(usernameElement);

            const messageTextElement = document.createElement("span");
            messageTextElement.innerText = message;
            messageElement.appendChild(messageTextElement);

            document.querySelector("#messages").appendChild(messageElement);

            document.getElementById("messages-container").scrollTop = document.getElementById("messages-container").scrollHeight;
        });

        socket.on("joined", username => {

			const messageElement = document.createElement("div");
            messageElement.classList.add("message");

            const messageTextElement = document.createElement("span");
            messageTextElement.innerText = `${username} has joined`;
            messageElement.appendChild(messageTextElement);

            document.querySelector("#messages").appendChild(messageElement);

            document.getElementById("messages-container").scrollTop = document.getElementById("messages-container").scrollHeight;
        });
	</script>
</body>
</html>
