<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Redis Chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="icon" href="/images/redis-icon.png" type="image/png">
	<link rel="stylesheet" href="/styles/index_styles.css">
</head>
<body>
   <form id="userForm" action="/chat">
        <div id="container1">
            <input id="colorPicker" type="color" name="color"  value="#ffffff"/>
            <input id="username" type="text" name="username" placeholder="Username" required/>
        </div>
		<br>
        <div id="container2">
        	<button id="b1" type="submit">Join Room</button>
        <!--	<button id="b2" type="submit">Create Room</button> -->
        </div>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
</html>
