body {
	font-family: 'Roboto', sans-serif;
	background-color: #1f1f1f;
	color: #ffffff;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	position: relative;
}

#chat-container {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-image: linear-gradient(300deg, #4d150a,#32161d,#030907,#030c04);
	background-size: 400% 400%;
	animation: gradient 85s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#chat-container h1 {
	display: flex;
	align-items: center;
}

img {
	box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px,0px, 10px black;
}

#chat-container h1 img {
  width: 24px; 
  height: auto;
  margin-right: 10px;
  box-shadow: 0px 0px ;
  -webkit-box-shadow: 0px,0px;
}

#messages-container {
	height: calc(100% - 160px);
	border-radius: 10px;
	background-image: linear-gradient(to top, rgba(20,10,10,.7),  rgba(20,20,30,0));
	width: 95%;
	/*max-width: 400px;*/
	overflow-y: auto;
	margin-bottom: 10px;
    overflow-x: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);;
}

#messages {
	width: 98%;
	word-wrap: break-word;
	margin-left: 15px;
	display: inline-block;
	text-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.message {
	font-size: 16px;
}

.username {
	font-size: 16px;
	font-weight: bold;
	color: #ddcccc;
}

#input-container {
	box-shadow: 0px 0px 15px black;
  -webkit-box-shadow: 0px,0px, 15px black;

	background-image: linear-gradient(to bottom, rgba(20,30,20,.4), rgba(20,20,20,0));
	border-radius: 10px;

	width: 94%;
	/*max-width: 200px;*/
	/*display: flex;*/
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;

	position: fixed;
    bottom: calc(100% - 100vh);


}

input {
	flex: 8;
	width: calc(100% - 20px);
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #5e5e5e;
	border-radius: 5px;
	font-size: 16px;
	transition: border-color 0.3s ease-in-out;
	color: #ffffff;
	background-color: rgba(40,20,20,.4);
}

input:focus {
	border-color: #ffaaaa;
}

#sendButton {
	margin-left: 10px;
	flex: 2;
	background-color: rgba(0,0,0,.5);
	color: #ffffff; 
	padding: 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease-in-out;

}

#fileButton {
	margin-left: 10px;
	flex: 1;
	background-color: rgba(0,0,0,.5);
	color: #ffffff;
	padding: 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease-in-out;
}

#sendButton:hover {
	background-color: #fa7a7a;
}


#fileButton:hover {
	background-color: #7a7afa;
}

#joined {
	margin-top: 20px;
	text-align: center;

}

#joinedSpan{
	margin-left: 6px;
    font-weight: bold;
	font-style: italic;
}
