body {
	font-family: 'Roboto', sans-serif;
	background-color: #1f1f1f; 
	color: #ffffff;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	position: relative;

}

#chat-container h1 {
  display: flex;
  align-items: center;
}

#chat-container h1 img {
  width: 24px; 
  height: auto;
  margin-right: 10px; 
}

h2 {
	color: #d91c1c; 
	text-align: center;
	margin-bottom: 20px;
	font-size: 100%;
}



#messages-container {
	flex: 9;
	width: 80%;
	/*max-width: 400px;*/
	overflow-y: auto;
}

#messages {
	background-color: #2e2e2e; 
	//padding: 20px;
	border-radius: 1px;
	//box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
	width: 90%;
	transition: box-shadow 0.3s ease-in-out;
	scrollbar-width: thin; 
	scrollbar-color: transparent transparent; 
}

#messages::-webkit-scrollbar {
	width: 61px; 
}

#messages::-webkit-scrollbar-thumb {
	background-color: transparent; 
}

.message {
	font-size: 18px;
	margin-bottom: 10px;
}

.username {
	font-size: 16px;
	font-weight: bold;
	color: #5e5e5e; 
}

.message span {
	margin-right: 7px;
}

#input-container {
	flex: 1;
	width: 80%;
	/*max-width: 200px;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

input {
	flex: 8;
	width: calc(100% - 20px);
	padding: 10px;
            box-sizing: border-box;
            border: 1px solid #5e5e5e;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.3s ease-in-out;
            color: #ffffff;
            background-color: #2e2e2e; 
        }

        input:focus {
            border-color: #9acffa;
        }

        button {
        margin-left: 10px;
            flex: 2;
            background-color: #5e5e5e;
            color: #ffffff; 
            padding: 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: #7a7a7a; 
        }

        #joined {
            margin-top: 20px;
            text-align: center;
            color: #d9d9d9; 
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        #messages {
            animation: fadeIn 0.5s ease-in-out;
        }

        #chat-container {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #333;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        border-radius: 0 10px 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        }

